.footer {
  padding: 50px;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 13px;
}

.link {
  margin: 0px 30px 0px 30px;
  text-decoration: none;
  color: #888888;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 600px) {
  .footer-links {
    flex-direction: column !important;
    margin-top: 40px !important;
    margin-bottom: 0px !important;
  }
  .link:nth-of-type(2) {
    margin-top: 10px;
  }
  .link:nth-of-type(3) {
    margin-top: 10px;
  }
  .link:nth-of-type(4) {
    margin-top: 10px;
  }
  .logo {
    margin-top: 20px;
  }
}
