:root {
  --navbar-height: 70px;
  --color-bg-default: #fafbff !important;
  --color-text-yellow: #f0bd66 !important;
  --color-text-default: #000 !important;
  --color-text-gray: #6e7883 !important;
  --color-pill-default: #edeef3 !important;
  --color-pill-yellow: #fbecd3 !important;
  --color-pill-green: #d5f3eb !important;
  --column-spacing: 40px !important;
}

::selection {
  background: #50e3c2 !important; /* WebKit/Blink Browsers */
  color: #fff !important;
}
::-moz-selection {
  background: #50e3c2 !important; /* Gecko Browsers */
  color: #fff !important;
}

/*Hide Notion Content That We Do Not Need On The Site*/
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  div.notion-record-icon.notranslate,
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div:nth-child(2),
#notion-app
  > div
  > div.notion-overlay-container.notion-default-overlay-container
  > div:nth-child(2)
  > div
  > div:nth-child(2)
  > div.notion-scroller.vertical
  > div:nth-child(2),
#__next
  > div
  > main
  > section
  > form
  > div.styled__ButtonsContainer-sc-29u7yj-3.kEatLN.tally-submit-button
  > div:nth-child(2),
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div.notion-selectable.notion-collection_view-block
  > div:nth-child(1),
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div:nth-child(1)
  > div.notion-topbar-mobile,
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div:nth-child(1)
  > div.notion-topbar
  > div
  > div.notranslate {
  display: none !important;
}

.notion-page-content {
  padding-bottom: 0 !important;
}

/* H1 Headings in Notion */
/* --------------------- */

h1,
[placeholder="Heading 1"] {
  letter-spacing: -1px !important;
  margin-bottom: 4px !important;
  font-weight: 900 !important;
  line-height: 1.5 !important;
  font-size: 36px !important;
}

/* H2 Headings in Notion */
/* --------------------- */
h2,
[placeholder="Heading 2"] {
}

/* H3 Headings in Notion */
/* --------------------- */
h3,
[placeholder="Heading 3"],
[placeholder="Heading 3"] span {
  font-weight: 500 !important;
  line-height: 1.8 !important;
  color: #6e7883 !important;
  letter-spacing: -0.5px !important;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Hide Any Toggle Block with a grey background */
/* ------------------------------------------- */
.notion-toggle-block div[style*="background: rgb(235, 236, 237)"],
div[style*="background: rgb(235, 236, 237)"] .toggle-mode {
  display: none !important;
}

/* Gallery Styling */
/* ------------------------------------------- */
.notion-gallery-view > div > div {
  border-top: none !important;
  margin-bottom: 0px !important;
  margin: auto !important;
  max-width: 900px !important;
  padding-left: calc(96px + env(safe-area-inset-left));
  padding-right: calc(96px + env(safe-area-inset-right));
  padding-bottom: 90px !important;
}


  .notion-gallery-view
  > div
  > div > div
  a {
  text-align: center;
  box-shadow: 0 40px 80px -20px rgba(0, 0, 0, 0.06) !important;
  background: rgba(255, 255, 255, 0.4) !important;
  transition: all 0.3s ease-in-out !important;
  border-radius: 12px !important;
  overflow: hidden !important;
  /* margin: 0 0 30px!important; 
  height: 260px !important;*/
  border: none !important;
}

.notion-gallery-view
  > div
  > div > div
  a > div > div:nth-child(2) {
  font-size: 18px !important;
  font-weight: 800 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.notion-page-controls {
  height: 0;
}

/* Any Notion Underlined text will be centered, i.e. _______ -> Centering */
/* ---------------------------------------------------------------------- */
div > span[style*="border-bottom"],
div a[style*="background:"] span[style*="border-bottom"] {
  margin: -12px auto !important;
  text-align: center !important;
  line-height: 1.8 !important;
  max-width: 100% !important;
  display: block !important;
  width: 500px !important;

  /*Remove the decoration*/
  text-decoration: none !important;
  text-decoration-line: none !important;
  text-decoration-thickness: initial !important;
  text-decoration-style: initial !important;
  text-decoration-color: initial !important;
  border-bottom: none !important;
}

/* Title Of Notion Pages */
/* --------------------- */
div.notion-page-controls + div.notion-selectable div[placeholder="Untitled"] {
  margin-top: 0;
  padding: 2px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  font-size: 2.5rem;
  line-height: 2.5rem;
  min-height: 48px;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: -2.5px !important;
  text-align: center !important;
  font-weight: 900 !important;
  line-height: 1.4 !important;
  font-size: 56px !important;
  max-width: 100% !important;
}

/* Cover Styling */
.notion-frame
  > .notion-scroller
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  img[style*="object-fit: cover;"] {
  margin: -20px auto 0 !important;
  max-width: 500px !important;
}

#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div:nth-child(1)
  > div
  > div.notion-record-icon.notranslate {
  margin-inline: initial !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div:nth-child(1)
  > div
  > div.notion-record-icon.notranslate
  > div
  > div
  img {
  border-radius: 50% !important;
  width: 200px !important;
  height: 200px !important;
}

/* Reduce margin below page title only. Do not target other scroller.vertical */
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div:nth-child(1)
  > div {
  height: initial !important;
  margin-top: 100px;
  margin-bottom: -30px;
}

* {
  text-decoration-color: #50e3c2;
}

.notion-collection-view-select {
  display: none !important;
}

html.notion-html,
body.notion-body,
#notion-app,
.notion-frame {
  background-color: #fafbff !important;
}

body {
  font-family: Inter, "Helvetica", "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica Neue", "Noto Sans", sans-serif;

  color: var(--color-text-default);
  background-color: #fafbff !important;
  fill: currentColor;
}

a[style*="background:rgb"] {
  border-radius: 20px !important;
  position: relative !important;
  padding: 25px !important;
  border: none !important;

  letter-spacing: -0.5px !important;
  align-items: center !important;
  font-weight: 600 !important;
  display: flex !important;
  border: none !important;
  color: #fff !important;
}
/*Yellow*/
a[style*="background:rgb(251,243,219);"] {
  box-shadow: 0 10px 20px -10px #f0bd66 !important;
  background: #f0bd66 !important;
}

/*red*/
a[style*="background:rgb(251,228,228);"] {
  box-shadow: 0 10px 20px -10px #d62976 !important;
  background: #d62976 !important;
}

/*blue*/
a[style*="background:rgb(221,235,241);"] {
  box-shadow: 0 10px 20px -10px #516bef !important;
  background: #516bef !important;
}
/*purple*/
a[style*="background:rgb(234,228,242);"] {
  box-shadow: 0 10px 20px -10px #1ea1f1 !important;
  background: #1ea1f1 !important;
}

/*green*/
a[style*="background:rgb(221,237,234);"] {
  box-shadow: 0 10px 20px -10px #50e3c2 !important;
  background: #50e3c2 !important;
}

.notion-navbar {
  height: var(--navbar-height) !important;
  box-shadow: none !important;
  position: fixed !important;
}

.notion-navbar > a {
  padding: 0 !important;
}
.notion-navbar > a:hover {
  background: none !important;
}
.notion-breadcrumb__divider {
  margin: -4px 4px 0 !important;
}
.notion-navbar__title {
  overflow: visible !important;
}

/* HEAD NAV BAR --------------------------- */
.notion-quote-block {
  height: var(--navbar-height) !important;
  justify-content: flex-end !important;
  align-items: center !important;
  position: fixed !important;
  font-size: 22px !important;
  z-index: 400 !important;
  display: flex !important;
  border: none !important;
  margin: 0 !important;
  right: 0 !important;
  top: 0 !important;
  max-width: initial !important;

  -webkit-backdrop-filter: blur(20px) saturate(200%);
  backdrop-filter: blur(20px) saturate(200%);
  box-shadow: 0 0 20px rgb(0 0 0 / 4%);
  background: rgba(250, 251, 255, 0.6);
}

.notion-quote-block a {
  font-size: 16px;
  font-weight: 700 !important;
}

.notion-quote-block a span {
  border: none !important;
}

.notion-quote-block > div {
  margin: auto;
}

.notion-quote-block [placeholder="Empty quote"] {
  border: none !important;
  max-width: initial !important;
}
/* HEAD NAV BAR, END --------------------------- */

.notion-frame > div:nth-child(1) {
  z-index: 0 !important;
}

#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div:nth-child(1)
  > div
  > div.notion-selectable.notion-page-block
  > div {
  text-align: center !important;
  margin-top: 35px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 900;
}

@media (max-width: 1000px) {
  :root {
    --navbar-height: 70px;
    --padding-right: 24px !important;
    --padding-left: 24px !important;
  }

  #page-blocks .notion-collection-board {
    grid-template-columns: 1fr !important;
  }

  .notion-gallery-view > div > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

iframe {
  background-color: transparent !important;
}

/*Hide background color for board*/
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div
  > div.notion-scroller.horizontal
  > div.notion-board-view
  > div
  > div:nth-child(1),
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div
  > div.notion-scroller.horizontal
  > div
  > div
  > div:nth-child(1)
  > div:nth-child(2) {
  background: none !important;
}

/*Hide top border for board*/
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div
  > div.notion-scroller.horizontal
  > div.notion-board-view
  > div
  > div:nth-child(1) {
  border-top: none !important;
}

/*Hide hidden column
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div
  > div.notion-scroller.horizontal
  > div.notion-board-view
  > div
  > div:nth-child(1)
  > div:nth-child(2),
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div
  > div.notion-scroller.horizontal
  > div.notion-board-view
  > div
  > div:nth-child(3) {
  display: none !important;
}*/

/*Hide card count*/
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div
  > div.notion-scroller.horizontal
  > div.notion-board-view
  > div
  > div:nth-child(1)
  > div:nth-child(1)
  > div
  > div:nth-child(2) {
  display: none !important;
}

/* give cards a soft shadow*/
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div
  > div.notion-scroller.horizontal
  > div.notion-board-view
  > div
  > div:nth-child(2)
  > div
  > div.notion-selectable.notion-page-block.notion-collection-item
  > a {
  box-shadow: 0 40px 80px -20px rgb(0 0 0 / 6%) !important;
  background: rgba(255, 255, 255, 0.4) !important;
}

/* add padding to header tags*/
#notion-app
  > div
  > div.notion-cursor-listener
  > div
  > div.notion-scroller.vertical.horizontal
  > div.notion-page-content
  > div
  > div.notion-scroller.horizontal
  > div.notion-board-view
  > div
  > div:nth-child(1)
  > div:nth-child(1)
  > div
  > div:nth-child(1)
  > div {
  /* padding: 20px;
  font-size: 18px !important;
  font-weight: 800 !important; */
}

/*Target the roadmap only*/
[data-block-id="c6aac439-d1b1-48b9-bb5f-14c3fe11eb09"] {
  /* width: 900px !important; */
}

/*Hide the card count on mobile*/
.notion-mobile div.notion-board-view > div > div:nth-child(1) > div > div:nth-child(2),
/*hide the last column, i.e the hidden one on the board*/
div.notion-board-view > div > div:nth-child(1) > div:last-child,
div.notion-board-view > div > div:last-child {
  display: none !important;
}

/*Rounded scrollbars*/
::-webkit-scrollbar-thumb {
  background: #50e3c2;
  border-radius: 10px;
}
